*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 
#a7d2cb -clean
#f2d388 -butter
#c98474 -salmon
#874c62 -eggplant
#faf9ee -yellow
*/

body {
  font-size: 14px;
  background: #faf9ee;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  z-index: 10;
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  background: #874c62;
  text-align: center;
  box-shadow: 0 5px 5px rgba(87, 59, 69, 0.6);
}

h1 {
  font-size: 1.6em;
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding-bottom: 25px;
}

.list__filter {
  height: 80px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f2d388;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 5px 5px rgba(117, 117, 90, 0.6);
}

.filter {
  width: 20%;
  height: 25px;
  border: solid #874c62 3px;
  border-radius: 5px;
  text-align: center;
}

.filter:focus {
  outline: none;
}

.list__restaurant {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.card {
  width: 80%;
  height: 150px;
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(128, 128, 128, 0.5);
}
